<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <script type="text/javascript" src="scripts/shCore.js"></script>
    <script type="text/javascript" src="scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="scripts/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css"/>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
        SyntaxHighlighter.all();
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
 <body>
  <h1></h1>
  <!-- Комментарий -->
    <a href = "index.html">index</a>
  <p></p>
	<table border="0" width="100%" align="center">
	<tr>
		<td>
		<pre class="brush: c-sharp;">
				//проверка на использование IE браузера
				if (Ext.isIE){
                    var textContainer = new Container(container, this.x, this.y);
                    new Text(textContainer, null, "middle")
                        .setText(text);
                } else {
                    var textControl = this.addHtmlText(container, text, this.x, this.y, this.width, this.height);
                    // переопределяем размер шрифта
                    textControl.select(".text-control")
                        .style("font-size",  fontSize + "px")
                        .style("line-height",  1.2 * fontSize + "px");
                }
</pre>
<pre>
//ts/control/InfographicsMap/TextMapItem.ts
//ts/control/Primitives/Text.ts

D:\WebReportsFrontend\src\ts\customControls\Infographics// ProgressPieChart

http://fm-bi-dev1.krista.ru/static-report/web/report-desktop-war.html?reportId=94b3b37d-35db-42b2-90b3-be2f3edf2a2f&version=12.08.2014%2011.47.07.000&device=Desktop

		</pre>
		</td>
	</tr>
	</table>
 </body>
</html>